.estilos-contenedor {
  display: flex;
  flex-direction: row; /* Para pantallas grandes */
  gap: 20px;
}

.imagen-contenedor {
  flex: 1;
}

.detalle-contenedor {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center;     /* Centrar horizontalmente */
}

.imagen-pelicula {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.form {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* Para pantallas pequeñas: móviles */
  .estilos-contenedor {
    flex-direction: column; /* Coloca la imagen arriba y el contenido abajo */
  }

  .imagen-contenedor {
    width: 100%;
    margin-bottom: 20px; /* Añade espacio entre la imagen y el contenido */
  }

  .imagen-pelicula {
    height: 300px; /* Ajusta el tamaño del poster para móviles */
  }

  .detalle-contenedor {
    width: 100%; /* Ajusta para tomar todo el ancho */
    justify-content: center; /* Centrar verticalmente */
    align-items: center;     /* Centrar horizontalmente */
    text-align: center;      /* Para asegurar que el texto se centre */
  }

  .form {
    width: 90%; /* Ajusta el formulario al 90% del ancho para mejor visualización en móviles */
  }
}
