<div class="form-container">
  <h1>FilmsLibrary</h1>
  <form [formGroup]="registerForm" (ngSubmit)="register()">

    <!-- Nombre de Usuario -->
    <mat-form-field>
      <mat-label>Nombre de Usuario</mat-label>
      <input matInput formControlName="username" required>
      <mat-error *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
        El nombre de usuario es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Contraseña -->
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        La contraseña es obligatoria y debe tener al menos 6 caracteres.
      </mat-error>
    </mat-form-field>

    <!-- Rol -->
    <mat-form-field>
      <mat-label>Rol</mat-label>
      <mat-select formControlName="role" required>
        <mat-option value="user">Usuario</mat-option>
        <!-- Si deseas habilitar el rol de admin, puedes quitar el comentario -->
        <!--<mat-option value="admin">Administrador</mat-option>-->
      </mat-select>
    </mat-form-field>

    <!-- Nombre -->
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required>
      <mat-error *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Apellidos -->
    <mat-form-field>
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="apellidos" required>
      <mat-error *ngIf="registerForm.get('apellidos')?.invalid && registerForm.get('apellidos')?.touched">
        Los apellidos son obligatorios.
      </mat-error>
    </mat-form-field>

    <!-- Correo Electrónico -->
    <mat-form-field>
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="email" required type="email">
      <mat-error *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        El correo electrónico es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Preferencias de Películas -->
    <mat-form-field>
      <mat-label>Preferencias de Películas</mat-label>
      <mat-select formControlName="preferencias" multiple>
        <mat-option *ngFor="let tipo of tiposPeliculas" [value]="tipo">{{ tipo }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Fecha de Nacimiento -->
    <mat-form-field>
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput type="date" formControlName="fechaNacimiento" required>
      <mat-error *ngIf="registerForm.get('fechaNacimiento')?.invalid && registerForm.get('fechaNacimiento')?.touched">
        La fecha de nacimiento es obligatoria.
      </mat-error>
    </mat-form-field>

    <!-- País de residencia -->
    <mat-form-field>
      <mat-label>País de residencia</mat-label>
      <mat-select formControlName="paisResidencia" required>
        <mat-option *ngFor="let pais of paises" [value]="pais">{{ pais }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Selector visual de avatares -->
    <div class="avatar-grid">
      <div class="title-with-refresh">
        <h3>Selecciona tu Avatar</h3>
        <button mat-icon-button color="primary" (click)="generarAvatares()" class="refresh-button">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <div class="avatars-container">
        <div 
          *ngFor="let avatar of avatares; let i = index" 
          class="avatar-item" 
          [class.selected]="selectedAvatar === avatar"
          (click)="seleccionarAvatar(avatar)">
          <img [src]="avatar" alt="Avatar {{i + 1}}">
        </div>
      </div>
    </div>


    <!-- Botón de registro -->
    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
      Registrar
    </button>

  </form>

  <!-- Mensaje de error -->
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <!-- Mensaje de éxito -->
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
</div>
